@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

@font-face {
  font-family: 'bebas';
  src: url('./fonts/bebasneue-book-webfont.woff') format('woff'),
    url('./fonts/bebasneue-book-webfont.woff2') format('woff2');
}

:root {
  --clr-dark: #2b2a30;
  --clr-green: #09a65a;
  --clr-txt-white: #ddd;
  --clr-txt-gray: #777;
}

* {
  font-family: 'bebas';
  color: var(--clr-txt-white);
}

body {
  align-items: center;
  background: var(--clr-dark);
  display: flex;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  padding: 0;
}
