.wrapper {
  border: 5px solid var(--clr-green);
  width: 518px;
  height: 518px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.clockContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

.clockContainer input {
  width: 2ch;
  padding: 5px;
  font-size: 10rem;
}

.clockContainer input:disabled {
  background-color: transparent;
  border: none;
}

.clockContainer p {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.startButton {
  font-weight: bolder;
  letter-spacing: 1ch;
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--clr-txt-gray);
}

.startButton:hover,
.gearIcon:hover {
  filter: brightness(2);
}

.gearIcon {
  width: 3rem;
  height: 3rem;
  fill: var(--clr-txt-gray);
  background-color: transparent;
  border: none;
  margin-top: 1rem;
  cursor: pointer;
}
